.primaryButton {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--accent-color);
  padding: 1rem 2rem;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 6px rgba(255, 184, 0, 0.2);
}

.primaryButton:hover {
  box-shadow: 0 6px 12px rgba(255, 184, 0, 0.3);
  background-color: var(--primary-dark);
}

.primaryButton:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(255, 184, 0, 0.2);
} 