.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.hero {
  min-height: 90vh;
  padding-top: 4rem;
  background-color: var(--background-light);
}

.heroContent {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  height: calc(90vh - 4rem);
}

.heroText {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heroText h1 {
  font-size: 3rem;
  color: var(--accent-color);
  line-height: 1.2;
  font-weight: 700;
}

.heroText p {
  font-size: 1.25rem;
  color: #4a4a4a;
  line-height: 1.6;
}

.heroImageWrapper {
  grid-column: 2;
  grid-row: 1 / span 2;
  position: relative;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.heroActions {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-self: flex-end;
}

.reviewsContent {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.featureLinks {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1.5rem;
}

/* ===================================== Mobile ============================================ */

@media (max-width: 768px) {
  .hero {
    padding-top: 1.5rem;
    min-height: auto;
    min-height: 100vh;
  }

  .heroContent {
    grid-template-columns: 1fr;
    height: auto;
    padding: 1rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .heroText {
    text-align: center;
    gap: 0;
    padding: 0;
    margin: 0;
    height: fit-content;
    min-height: auto;
  }

  .heroText h1 {
    font-size: 1.875rem;
    line-height: 1.15;
    max-width: none;
    margin: 0;
    height: fit-content;
    padding-bottom: 0.75rem;
  }

  .heroText p {
    display: none;
  }

  .heroActions {
    gap: 0rem;
    order: 3;
    width: 100%;
    padding: 1rem;
  }

  .reviewsContent {
    display: none;
  }

  .heroImageWrapper {
    order: 2;
    height: 35vh;
    border-radius: 16px;
    width: calc(100% - 2rem);
    margin: 0 1rem;
  }

  .featureLinks {
    order: 2;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1.5rem;
    gap: 1rem;
  }
}
