.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.hero {
  min-height: 90vh;
  padding-top: 4rem;
  background-color: var(--background-light);
}

.heroContent {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  height: calc(90vh - 4rem);
}

.heroText {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heroText h1 {
  font-size: 3.5rem;
  color: var(--accent-color);
  line-height: 1.2;
  font-weight: 700;
}

.heroText p {
  font-size: 1.25rem;
  color: #4a4a4a;
  line-height: 1.6;
}

.heroImageWrapper {
  grid-column: 2;
  grid-row: 1 / span 2;
  position: relative;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.heroActions {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: flex-start;
}

.reviewsContent {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.heroBookingButton {
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--accent-color);
  font-weight: 700;
  padding: 1rem 2rem;
  width: fit-content;
}

.heroBookingButton:hover {
  background: var(--primary-dark) !important;
  border-color: var(--primary-dark) !important;
}

.featureLinks {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1.5rem;
  margin-top: 0.5rem;
}

/* ===================================== Mobile ============================================ */

@media (max-width: 1024px) {
  .hero {
    padding-top: 1rem;
    min-height: auto;
  }

  .heroContent {
    grid-template-columns: 1fr;
    height: auto;
    padding: 0.5rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .heroText {
    text-align: center;
    gap: 1rem;
    order: 1;
    padding: 0 0.5rem;
  }

  .heroText h1 {
    font-size: 2rem;
  }

  .heroText p {
    font-size: 1.25rem;
  }

  .heroActions {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    order: 3;
    width: 100%;
    padding: 0 0.5rem;
  }

  .heroBookingButton {
    width: 100%;
    justify-content: center;
    order: -1;
  }

  .reviewsContent {
    display: none;
  }

  .heroImageWrapper {
    order: 2;
    height: 30vh;
    border-radius: 20px;
    width: 100%;
    padding: 0 0.5rem;
  }

  .featureLinks {
    width: 100%;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.75rem;
    margin-top: 0;
  }
}
