.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.hero {
  min-height: 90vh;
  padding-top: 4rem;
  background-color: var(--background-light);
}

.heroContent {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: calc(90vh - 4rem);
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heroText h1 {
  font-size: 3.5rem;
  color: var(--accent-color);
  line-height: 1.2;
  font-weight: 700;
}

.heroText p {
  font-size: 1.25rem;
  color: #4a4a4a;
  line-height: 1.6;
}

.transportInfo {
  background: white;
  padding: 1.75rem;
  border-radius: 20px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
}

.transportInfo h2 {
  color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.transportInfo ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0.75rem;
}

.transportInfo li {
  padding: 0.5rem 0;
  color: #4a4a4a;
  font-size: 1.1rem;
  line-height: 1.5;
  border-bottom: 1px solid #e0e0e0;
}

.transportInfo li:last-child {
  border-bottom: none;
}

.mapWrapper {
  position: relative;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #eee;
}

@media (max-width: 1024px) {
  .hero {
    padding-top: 1rem;
    min-height: auto;
  }

  .heroContent {
    grid-template-columns: 1fr;
    height: auto;
    padding: 1rem;
    gap: 1.5rem;
  }

  .heroText {
    text-align: left;
    gap: 1rem;
    margin: 0;
  }

  .heroText h1 {
    font-size: 2rem;
    text-align: center;
  }

  .heroText p {
    font-size: 1.25rem;
    text-align: left;
  }

  .mapWrapper {
    height: 50vh;
    border-radius: 20px;
    width: 100%;
    margin: 0 0 2rem 0;
    border: 1px solid #e0e0e0;
  }

  .transportInfo {
    padding: 1rem;
    padding-bottom: 0.75rem;
    text-align: left;
    margin: 0;
    width: 100%;
    border: 1px solid #e0e0e0;
  }

  .transportInfo h2 {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
  }

  .transportInfo li {
    font-size: 1rem;
    padding: 0.4rem 0;
  }

  .mapWrapper iframe {
    width: 100% !important;
    height: 100% !important;
  }
} 

.directionsButton {
  align-self: flex-end;
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .transportInfo ul {
    margin-bottom: 0.5rem;
  }

  .directionsButton {
    margin-top: 0;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
  }

  .transportInfo li {
    font-size: 1rem;
    padding: 0.4rem 0;
  }
} 